//
// Textpic and Textmedia
//
.textmedia,
.textpic {
  img {
    max-width: 100%;
  }
  iframe{
    max-width: 100%;
  }
}
.textmedia-item,
.textpic-item {
    order: 1;
}
.textmedia-text,
.textpic-text {
    > *:last-child {
        margin-bottom: 0;
    }
}
.textmedia-gallery,
.textpic-gallery {
    margin-bottom: $spacer;
  & >.row {
    margin-left: -$grid-gutter-width / 4;
    margin-right: -$grid-gutter-width / 4;
  }
}

//
// Alignments
//
.textmedia-centered,
.textpic-centered {
    align-items: center;
}

.textmedia-below,
.textpic-below {
    .textmedia-text,
    .textpic-text {
        order: 0;
        margin-bottom: $spacer;
    }
    .textmedia-gallery,
    .textpic-gallery {
        margin-bottom: 0;
    }
}
@include media-breakpoint-up('md') {
    .textmedia-right,
    .textmedia-left,
    .textpic-right,
    .textpic-left {
        .textmedia-item,
        .textpic-item {
            margin-bottom: 0;

        }
    }
    .textmedia-right,
    .textpic-right {
        .textmedia-gallery,
        .textpic-gallery {
            order: 2;
        }
    }
}
